<a href="https://colab.research.google.com/github/edwinsn/titanic-model/blob/main/ModeloTItanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* **Implementar un modelo de red neuronal usando Keras para predecir los sobrevivientes del titanic. El modelo debe tener dos capas ocultas densas con 16 neuronas cada una y funcion de activacion relu. Como optimizador usar descenso del gradiente estocástico.
Como función de pérdida usar binary_crossentropy y como métrica usar accuracy.**

In [13]:
import math
import numpy as np
import pandas as pd
import statistics as st
from tensorflow import keras

df = pd.read_csv("titanic.csv")

##Datos faltantes

print(df.isna().any())
values = {'Age':df['Age'].mean(), 'Embarked':st.mode(df['Embarked'])}
df = df.fillna(value=values)
print(df.isna().any())

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool
PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age            False
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked       False
dtype: bool

In [14]:
##Transformación de los datos

def sexToInt(x):
  if x=="male": return 1
  return 0

df['Sex']= list(map(sexToInt, df["Sex"]))

print( "\nUnique(Embarked): {}".format( np.unique(df['Embarked']) )  )

def embarkedToInt(x):
  if x=="C": return 0
  if x=="Q": return 1
  return 2

df['Embarked'] = list(map(embarkedToInt, df["Embarked"]))

#Cabine no se tuvo en cuenta pues:
print("\nDatos faltantes en Cabin: {}".format(len(df[df["Cabin"].isna()])))

df.head()

Unique(Embarked): ['C' 'Q' 'S']

Datos faltantes en Cabin: 687

   PassengerId  Survived  Pclass  ...     Fare  Cabin  Embarked
0            1         0       3  ...   7.2500    NaN         2
1            2         1       1  ...  71.2833    C85         0
2            3         1       3  ...   7.9250    NaN         2
3            4         1       1  ...  53.1000   C123         2
4            5         0       3  ...   8.0500    NaN         2

[5 rows x 12 columns]

In [18]:


keras.backend.clear_session()

y_train = df.loc[0:math.floor(0.8*len(df)),"Survived"]
y_val = df.loc[math.floor(0.8*len(df)):math.floor(0.9*len(df)),"Survived"]
y_test = df.loc[math.floor(0.9*len(df)):len(df),"Survived"]

x_train = df.loc[ 0:math.floor(0.8*len(df)),["Pclass","Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"] ]
x_val = df.loc[math.floor(0.8*len(df)):math.floor(0.9*len(df)),["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]]
x_test = df.loc[math.floor(0.9*len(df)):len(df),["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]]


model = keras.models.Sequential();

model.add(keras.layers.Dense(16, activation="relu"));
model.add(keras.layers.Dense(16, activation="relu"));

model.add(keras.layers.Dense(1, activation="sigmoid"));

model.compile(loss='binary_crossentropy',
              optimizer='sgd', 
              metrics=["accuracy"])


history =  model.fit(x_train, y_train, epochs=10, validation_data=(x_val, y_val))

Epoch 1/10
23/23 [==============================] - 0s 7ms/step - loss: 1.5190 - accuracy: 0.6017 - val_loss: 0.5824 - val_accuracy: 0.6889
Epoch 2/10
23/23 [==============================] - 0s 2ms/step - loss: 0.7591 - accuracy: 0.6410 - val_loss: 0.5403 - val_accuracy: 0.6667
Epoch 3/10
23/23 [==============================] - 0s 2ms/step - loss: 0.7050 - accuracy: 0.6073 - val_loss: 0.5714 - val_accuracy: 0.6778
Epoch 4/10
23/23 [==============================] - 0s 2ms/step - loss: 0.6674 - accuracy: 0.6774 - val_loss: 1.1893 - val_accuracy: 0.6556
Epoch 5/10
23/23 [==============================] - 0s 2ms/step - loss: 0.6545 - accuracy: 0.6452 - val_loss: 0.5514 - val_accuracy: 0.7222
Epoch 6/10
23/23 [==============================] - 0s 2ms/step - loss: 0.6394 - accuracy: 0.6381 - val_loss: 0.5379 - val_accuracy: 0.7333
Epoch 7/10
23/23 [==============================] - 0s 2ms/step - loss: 0.6314 - accuracy: 0.6564 - val_loss: 0.5737 - val_accuracy: 0.7111
Epoch 8/10
23/23 [==============================] - 0s 2ms/step - loss: 0.6162 - accuracy: 0.6578 - val_loss: 0.5494 - val_accuracy: 0.7111
Epoch 9/10
23/23 [==============================] - 0s 2ms/step - loss: 0.6291 - accuracy: 0.6676 - val_loss: 0.6120 - val_accuracy: 0.6667
Epoch 10/10
23/23 [==============================] - 0s 2ms/step - loss: 0.6207 - accuracy: 0.6550 - val_loss: 0.5518 - val_accuracy: 0.7111

In [16]:
supervivencia = ["No sobrevivió", "Sobrevivió"]
n=12
X_new = x_test[:n]
y_pred = model.predict(X_new)

for i in range(n):
   persona = df.loc[len(x_train)+len(x_val)+i,:]
   print("La probbilidad de sobrevivir de {} fue de: {} y {}".format(persona["Name"], str(y_pred[i][0]), supervivencia[persona["Survived"]]))

La probbilidad de sobrevivir de Thomas, Master. Assad Alexander fue de: 0.43867812 y Sobrevivió
La probbilidad de sobrevivir de Hedman, Mr. Oskar Arvid fue de: 0.7165246 y Sobrevivió
La probbilidad de sobrevivir de Johansson, Mr. Karl Johan fue de: 0.5336753 y No sobrevivió
La probbilidad de sobrevivir de Andrews, Mr. Thomas Jr fue de: 0.2393704 y No sobrevivió
La probbilidad de sobrevivir de Pettersson, Miss. Ellen Natalia fue de: 0.21701366 y No sobrevivió
La probbilidad de sobrevivir de Meyer, Mr. August fue de: 0.13243553 y No sobrevivió
La probbilidad de sobrevivir de Chambers, Mrs. Norman Campbell (Bertha Griggs) fue de: 0.34854355 y Sobrevivió
La probbilidad de sobrevivir de Alexander, Mr. William fue de: 0.22816095 y No sobrevivió
La probbilidad de sobrevivir de Lester, Mr. James fue de: 0.5702573 y No sobrevivió
La probbilidad de sobrevivir de Slemen, Mr. Richard James fue de: 0.2606895 y No sobrevivió
La probbilidad de sobrevivir de Andersson, Miss. Ebba Iris Alfrida fue de: 0.3154869 y No sobrevivió
La probbilidad de sobrevivir de Tomlin, Mr. Ernest Portage fue de: 0.22846597 y No sobrevivió